# Frontend (Vite solo expone variables con prefijo VITE_*)
VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_NAME=SembrarIA

# Mapas
VITE_MAP_TILES_URL=https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png
VITE_DEFAULT_CENTER_LAT=1.6144
VITE_DEFAULT_CENTER_LNG=-75.6063
VITE_DEFAULT_ZOOM=8
VITE_CAQUETA_BBOX=-76.3,-0.7,-73.6,2.3
